.form {
  width: 60%;
}
.formContent {
  border: 1px solid #bdbdbd;
  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
  border-radius: 34px;
  padding: 25px;
}
.btn {
  width: 150px;
}

/* styling the selectCompaignTypeForm component */
.compaignSelect,
.emailAddress,
.emailConfirmation,
.phoneNumber,
.password,
.personalDetails,
.homeAddress,
.BussinessRecord,
.busienssAddress,
.roleSelect,
.socialProfile,
.companyDescription,
.raisePeriod,
.yieldPeriod,
.verifyIdentity {
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 30px;
  width: 550px;
  margin: 25px auto 0px auto;
}
.compaignSelect,
.emailAddress {
  border-color: #d9d9d9;
}
.isSelected,
.isFocused {
  border-color: black;
}

.formSelect {
  background: #d9d9d9;
  border-radius: 10px;
  height: 70px;
  border: none;
}
/* styling the emailAddressForm component */
.formControl {
  background-color: var(--cf-gray88);
  border-radius: 10px;
  height: 45px;
}
/* styling the emailConfirmationForm component */
.validationDigit {
  width: 50px;
  height: 50px;
}

/* styling the phoneNumberForm component */
.phoneNumberSelect {
  background-color: var(--cf-gray88);
  width: 150px;
  border-radius: 10px;
  margin-right: 5px;
}

/* styling the passwordForm component */
.formPassword {
  border-right: none;
}
.showHideBtn,
.daysForm {
  background-color: var(--cf-gray88);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
}
.icons {
  font-size: 20px;
  cursor: pointer;
}
/* styling the roleCompanyForm component */
.labelExeplination {
  font-size: 15px;
  color: var(--cf-gray65);
}
/* styling the verifyIdentity component*/
.ulCircle {
  border: 1px solid black;
  height: 18px;
  width: 18px;
  font-size: 15px;
}

.radioInput {
  border: 1px solid #bdbdbd;
  height: 65px;
}

.inputRadioButton {
  visibility: hidden;
  opacity: 0;
}

.iconsRadio {
  background-color: black;
  color: white;
  font-size: 25px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 3px;
  margin-right: 10px;
}
.inputRadioButton:checked + .formRadioLabel {
  color: red;
}
.inputRadioButton:checked + .formRadioLabel .iconsRadio {
  background-color: red;
}
